@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Fonts */
@import "@fontsource/poppins";
@import "@fontsource-variable/dm-sans/wght.css";
@import '@fontsource-variable/jetbrains-mono/wght.css';

@theme {
    /* Colors */
    --color-sem-black: #161616;
    --color-sem-gray: #939393;
    --color-sem-light-gray: #3b3b3b;
    --color-sem-orange: #D9C48B;
    --color-sem-green: #3FE058;

    /* Fonts */
    --font-poppins: 'Poppins', sans-serif;
    --font-dm-sans: 'DM Sans Variable', sans-serif;
    --font-jetbrains-mono: 'Jetbrains Mono Variable', monospace;
}

@utility container {
    @apply mx-auto px-5;
}

@layer base {
    html {
        @apply scroll-smooth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-dm-sans font-semibold;
    }

    h1 {
        @apply text-5xl;
    }

    h2 {
        @apply text-4xl;
    }

    h3 {
        @apply text-3xl;
    }

    h4 {
        @apply text-2xl;
    }

    button {
        @apply cursor-pointer;
    }

    .page-offset {
        @apply mt-35 mb-15;
    }
}